.RoomList {
  height: 50%;

  &-area {
    color: #fff;
    text-align: center;
    font-size: 1.6em;
    padding: 12px;
    transition: all .2s ease;
    border-bottom: 1px solid #151515;
    box-shadow: 0 0 5px #000;
  }

  &-list {
    padding: 10px;
  }

}
